/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 8px;
    width: 320px;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    display: flex;
    background-color: #FE6271;
    border-radius: 8px 8px 0 0;
    text-align: center;
    align-items: center;
    justify-content: start;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    color: #333;
}

header .logo {
    width: 50px;
    height: auto;
}


.ticket {
    text-align: center;
    color: #555;
}

.ticket h2 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.ticket p {
    font-size: 12px;
    margin: 5px 0;
}

.ticket h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.ticket h1 {
    font-size: 32px;
    margin: 10px 0;
    color: #333;
}

.qr-barcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.qr-code,
.barcode {
    width: 80px;
    height: auto;
    margin: 0 5px;
}

small {
    font-size: 10px;
    color: #888;
    display: block;
    text-align: center;
    margin-top: 15px;
    line-height: 1.4;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.print-button,
.close-button {
    font-size: 14px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.print-button {
    background-color: #28a745;
    /* Warna hijau untuk tombol Print */
}

.close-button {
    background-color: #888;
    /* Warna abu-abu untuk tombol Tutup */
}

footer p {
    text-align: center;
    font-size: 10px;
    color: #aaa;
    margin-top: 10px;
}